# Web Framework
fastapi
uvicorn[standard]
python-multipart
streamlit

# Configuration & Environment
pydantic
pydantic-settings
python-dotenv

# Document Processing
pymupdf
fastembed

# Vector Database & Embeddings
qdrant-client
groq
openai


# Tokenization
tiktoken

# Utilities
httpx
tenacity
